# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
*.opensdf
*.sdf

# Debug 
*/Debug/*
*/*/Debug/*
*/*/*/Debug/*

# Release 
*/Release/*
*/*/Release/*
*/*/*/Release/*

# Medie
*/Media/Mesh/*

